#nav{
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav_right{
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

.nav_left{
    display: flex;
    gap: 1.1rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav_left > #link{
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.3rem;
    transition: all ease-in 0.4s;
    text-decoration: none;
}

.nav_left > #link:hover{
    background-color: transparent;
    background-color: cornflowerblue;
    color: white;
}